<% provide(:title, "Top") %>

<div class="center jumbotron">
<h1>勤怠システム</h1>

<% if logged_in? %>
  <%= link_to "ログイン", login_path, class: "btn btn-lg btn-primary btn-signup disabled" %>
<% else %>
  <%= link_to "ログイン", login_path, class: "btn btn-lg btn-primary btn-signup" %>
<% end %>

<p>ユーザー情報がまだの場合は<%= link_to "こちら", new_user_path %></p>