<% provide(:title, "Top") %>

<div class="center jumbotron">
<h1>勤怠システム</h1>

<% if logged_in? %>
  <%= link_to "ログイン", login_path, class: "btn btn-lg btn-primary btn-signup disabled" %>
<% else %>
  <%= link_to "ログイン", login_path, class: "btn btn-lg btn-primary btn-signup" %>
<% end %>
<<<<<<< HEAD
=======

<p>ユーザー情報がまだの場合は<%= link_to "こちら", signup_path %></p>
>>>>>>> 2bd5adf2fe1132420affc68ac87363a2b8f9e962

<p>ユーザー情報がまだの場合は<%= link_to "こちら", signup_path %></p>