<% provide(:title, '勤怠確認') %>
<div>
  <table class="table table-bordered table-condensed user-table">
    <tr>
      <td>
        <br>
        <span class="align-middle">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;時間管理表&nbsp;&nbsp;&nbsp;</span>
      </td>
      <td ><br>
        指定勤務開始時間&nbsp;&nbsp;&nbsp;<br>
        指定勤務終了時間&nbsp;&nbsp;&nbsp;
      </td>
      <td colspan="3"><br>基本時間&nbsp;&nbsp;&nbsp;</td>
      <td><br>初日&nbsp;&nbsp;&nbsp;</td>
    </tr>

    <tr>
      <td>所属&nbsp;&nbsp;&nbsp;</td>
      <td>氏名&nbsp;&nbsp;&nbsp;</td>
      <td>コード</td>
      <td></td>
      <td>出勤日数&nbsp;&nbsp;&nbsp;日</td>
      <td>締め&nbsp;&nbsp;&nbsp;</td>
    </tr>
  </table>
</div>

<div>
  <table class="table table-bordered table-condensed table-striped" id="table-attendances">
    <thead>
      <tr>
        <th rowspan="3">残業申請</th>
        <th rowspan="3">日付</th>
        <th rowspan="3">曜日</th>
        <th colspan="8">【実績】</th>
        <th colspan="8">所定外勤務</th>
      </tr>
      <tr>
        <td colspan="3">出社</td>
        <td colspan="3">退社</td>
        <td rowspan="2">在社時間</td>
        <td rowspan="2">備考</td>
        <td colspan="2">終了予定時間</td>
        <td rowspan="2">時間外時間</td>
        <td rowspan="2">業務処理内容</td>
        <td rowspan="2">指示者確認㊞</td>
      </tr>
      <tr>
        <td>時</td>
        <td>分</td>
        <td></td>
        <td>時</td>
        <td>分</td>
        <td></td>
        <td>時</td>
        <td>分</td>
      </tr>
    </thead>

    <tbody>
        <tr>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
        </tr>
    </tbody>
    
    <tfoot>
      <tr>
        <th colspan="2"></th>
        <th colspan="6"></th>
        <th>累計在社時間</th>
        <th></th>
        <th colspan="5"></th>
        <td rowspan = "2">
          <div class="btn-group">
            <label>所属長承認&nbsp;&nbsp;&nbsp;</label>
          </div>
        </td>
      </tr>
      <tr>
        <td colspan="2"></td>
        <td colspan="6"></td>
        <td></td>
        <td></td>
        <td colspan="5"></td>
      </tr>
    </tfoot>
  </table>
</div>
