<% provide(:title, "出勤中社員一覧") %>

<div class="container">
  <h1>出勤中社員一覧</h1>
    <div class="col-md-10 col-md-offset-1">
      <table class="table table-bordered table-condensed table-striped">
        <thead>
          <tr>
            <th class="center">社員番号</th>
            <th class="center">名前</th>
          </tr> 
        </thead>
          <tbody>
            <tr>
              <td align="center"></td>
              <td align="center"></td>
            </tr>
          </tbody>
      </table>
    </div>
</div>