/* 共通レイアウト */

#logo {
  float: left;
  margin-left: 10px;
  margin-right: 10px;
  font-size: 1.7em;
  font-style: oblique;
  color: #fff;
  text-transform: capitalize;
  letter-spacing: -1px;
  padding-top: 9px;
  font-weight: bold;
}