/* すべてのCSSを一つにまとめ、bootstrapを適用させるもの */
@import "bootstrap-sprockets";
@import "bootstrap";

/* 全体ページ */

body {
  padding-top: 60px;
}

h1, h2, h3, h4, h5, h6 {
  line-height: 1;
}

h1 {
  font-size: 3em;
  letter-spacing: -2px;
  margin-bottom: 30px;
  text-align: center;
}

/* トップページ */
.center {
  text-align: center;
}

.center h1 {
  margin-bottom: 30px;
}

li {
  display: block;
  position: relative;
}

.btn-signup {
  margin-bottom: 10px;
}

/* ヘッダー */
#logo {
  color: #fff;
  float: left;
  font-size: 1.7em;
  font-weight: bold;
  letter-spacing: -1px;
  margin-right: 10px;
  padding-top: 9px;
}

#logo:hover {
  color: #fff;
  text-decoration: none;
}

.logo1 {
  color: #696969;
  float: left;
  font-size: 1em;
  font-weight: bold;
  letter-spacing: -1px;
  margin-right: 15px;
  padding-top: 15px;
}

.logo1:hover {
  color: #fff;
  text-decoration: none;
}

/* ユーザー編集 */
.label-user--edit {
  margin-top: 10px;
}

.btn-user--edit {
  margin-top: 5px;
}

/* 出勤中社員一覧画面 */
.center {
  text-align:center;
}

/* 拠点情報追加画面 */
.btn-new-point {
  margin-top: 10px;
}

/* 拠点情報編集画面 */
.btn-edit-point {
  margin-top: 10px;
}

/* １ヶ月の勤怠申請画面 */
.notification {
  display: inline;
  color: red;
  font-weight: bold;
  border: 3px solid red;
}

.notice {
  color: red;
}

.btn-application-info {
  margin-top: 10px;
}

/* 残業申請画面 */
.btn-application-notice{
  margin-top: 10px;
}

/* デバッグ */

.debug_dump {
  clear: both;
  float: left;
  margin-top: 70px;
  width: 100%;
  box-sizing:         border-box;
  -moz-box-sizing:    border-box;
  -webkit-box-sizing: border-box;
}

/* エラーメッセージ */
#error_explanation {
  color: red;
  ul {
    color: red;
    margin: 0 0 30px 0;
  }
}

.field_with_errors {
  @extend .has-error;
  .form-control {
    color: $state-danger-text;
  }
}

/* モーダルウィンドウの位置調整　*/
.modal-dialog-center {
  padding-top: 40px;
}

/* モーダルウィンドウ内のボタンの位置調整 */
.label-basic-info {
  margin-top: 5px;
}

.btn-basic-info {
  margin: 15px 0;
  width: 30%;
  
}