/* ログイン画面 */
.label-login {
  margin-top: 10px;
}

.btn-login {
  margin-top: 10px;
}

.checkbox-login {
  margin-left: 20px;
  width: auto;
  span {
    font-weight: normal;
  }
}

/* ユーザー一覧画面 */
#table-users {
  td {
    vertical-align: middle;
  }
}
