<% provide(:button_text, '変更を送信する') %>
<% provide(:class_text, 'change-notice') %>

<div class="modal-dialog modal-lg modal-dialog-center">
  <div class="modal-content">
    <div class="modal-header">
      <button type="button" class="close" data-dismiss="modal" aria-label="Close">
        <span aria-hidden="true">✖︎</span>
      </button>
    </div>
    <div class="modal-body">
      <div class="row">
            <h1 class="modal-title"><%= "【からの勤怠変更申請】" %></h1>
              <table class="table table-bordered table-striped table-condensed">
                <thead>
                  <tr>
                    <th class="text-center" rowspan="3">日付</th>
                    <th class="text-center" rowspan="3">曜日</th>
                    <th class="text-center" colspan="4">変更前</th>
                    <th class="text-center" colspan="4">変更後</th>
                    <th class="text-center" rowspan="3">備考</th>
                    <th class="text-center" rowspan="3">指示者確認㊞</th>
                    <th class="text-center" rowspan="3">変更</th>
                    <th class="text-center" rowspan="3">勤怠を確認する</th>
                  </tr>
                  <tr>
                    <td class="text-center" colspan="2">出社</td>
                    <td class="text-center" colspan="2">退社</td>
                    <td class="text-center" colspan="2">出社</td>
                    <td class="text-center" colspan="2">退社</td>
                  </tr>
                  <tr>
                    <td class="text-center">時</td>
                    <td class="text-center">分</td>
                    <td class="text-center">時</td>
                    <td class="text-center">分</td>
                    <td class="text-center">時</td>
                    <td class="text-center">分</td>
                    <td class="text-center">時</td>
                    <td class="text-center">分</td>
                  </tr>
                </thead>
                <tbody>
                       <tr>
                        <!--変更前-->
                        <!--出社時間(時)-->
                        <td class="text-center"></td>
                        <!--出社時間(分)-->
                        <td class="text-center"></td>
                        <!--退社時間(時)-->
                        <td class="text-center"></td>
                        <!--退社時間(分)-->
                        <td class="text-center"></td>
                        <!--変更後-->
                        <!--出社時間(時)-->
                        <td class="text-center"></td>
                        <!--出社時間(分)-->
                        <td class="text-center"></td>
                        <!--退社時間(時)-->
                        <td class="text-center"></td>
                        <!--退社時間(分)-->
                        <td class="text-center"></td>
                        <!--備考-->
                        <td class="text-center"></td>
                        <!-- 指示者確認㊞ -->
                        <td class="text-center"></td>       
                        <!-- 確認 -->
                        <td class="text-center"></td>
                        <!--勤怠を変更する-->
                        <td class="text-center"></td>
                      </tr>
                </tbody>
              </table>
      </div>
    </div>
  </div>
</div>