<% provide(:button_text, '変更を送信する') %>
<% provide(:class_text, 'application-info') %>

<div class="modal-dialog modal-lg modal-dialog-center">
  <div class="modal-content">
    <div class="modal-header">
      <button type="button" class="close" data-dismiss="modal" aria-label="Close">
        <span aria-hidden="true">✖︎</span>
      </button>
    </div>
    <div class="modal-body">
      <div class="row">
            <h1 class="modal-title"><%= "【からの１ヶ月分勤怠申請】" %></h1>
              <table class="table table-bordered table-condensed table-striped">
                <thead>
                  <tr>
                    <th class="text-center">月</th>
                    <th class="text-center">指示者確認㊞</th>
                    <th class="text-center">変更</th>
                    <th class="text-center">勤怠を確認する</th>
                  </tr>
                </thead>
                <tbody></tbody>
              </table>
      </div>
    </div>
  </div>
</div>