<% provide(:title, @user.name) %>
  <div>
    <table class="table table-bordered table-condensed table-striped" id="table-attendances">
      <thead>
        <tr>
          <th>日付</th>
          <th>曜日</th>
          <th>出社</th>
          <th>退社</th>
          <th>翌日</th>
          <th>在社時間</th>
          <th>備考</th>
          <th>指示者確認㊞</th>
        </tr>
      </thead>
      
      <tbody>
            <tr>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
            </tr>
      </tbody>
    </table>
  　<div class="center">
  　   <%= link_to "キャンセル", "#", class: "btn btn-md btn-default" %>
  　</div>
  </div>