<% provide(:title, "勤怠ログ一覧") %>

<div class="container">
  <h1>勤怠ログ</h1>
    <div class="col-md-10 col-md-offset-1">
      <table class="table table-bordered table-condensed table-striped">
        <thead>
          <tr>
            <th class="center">日付</th>
            <th class="center">変更前出社時間</th>
            <th class="center">変更前退社時間</th>
            <th class="center">変更後出社時間</th>
            <th class="center">変更後退社時間</th>
            <th class="center">指示者</th>
            <th class="center">承認日</th>
          </tr> 
        </thead>
            <tbody>
              <tr>
                <td align="center"></td>
                <td align="center"></td>
                <td align="center"></td>
                <td align="center"></td>
                <td align="center"></td>
                <td align="center"></td>
                <td align="center"></td>
              </tr>
            </tbody>
      </table>
    </div>
</div>